
/*#formid1{
    padding-top: 14px;
}
#formid2{
    padding-top: 14px;
}
#formid3{
    padding-top: 14px;
}
#formid4{
    padding-top: 14px;
}
#formid5{
    padding-top: 14px;
}
#formid6{
    padding-top: 14px;
}
#formid7{
    padding-top: 14px;
}
#formid8{
    padding-top: 14px;
}
#formid9{
    padding-top: 14px;
}
#formid10{
    padding-top: 14px;
}
#formid11{
    padding-top: 14px;
}
#formid12{
    padding-top: 14px;
}*/
#display{
    position:absolute;
    right: 0px;
    top:0px;
}
#image1{
    height:50px;
}