#heading{
    text-align: center;
}
#display{
    position:absolute;
    right: 0px;
    top:0px;
}
#image1{
    height:50px;
}
a:link {
    text-decoration: none;
  }
  #buttonl{
    position:absolute;
    right: 0px;
    /*top:0px;*/
}
  